n8n-real-estate-workflow.json
{
  "name": "Real Estate Lead Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.guideType}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.email}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.name}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "2",
      "name": "Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "firstName",
              "value": "={{$json.name.split(' ')[0]}}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "lastName",
              "value": "={{$json.name.split(' ').slice(1).join(' ')}}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "email",
              "value": "={{$json.email}}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "phone",
              "value": "={{$json.phone}}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "guideType",
              "value": "={{$json.guideType}}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "timestamp",
              "value": "={{$now.toISO()}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "3",
      "name": "Format",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "listId": {
          "__rl": true,
          "value": "1763dbb742",
          "mode": "id"
        },
        "email": "={{$json.email}}",
        "status": "subscribed",
        "updateFields": {
          "mergeFieldsUi": {
            "mergeFieldValues": [
              {
                "name": "FNAME",
                "value": "={{$json.firstName}}"
              },
              {
                "name": "LNAME",
                "value": "={{$json.lastName}}"
              },
              {
                "name": "PHONE",
                "value": "={{$json.phone}}"
              }
            ]
          }
        }
      },
      "id": "4",
      "name": "Mailchimp",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 2,
      "position": [
        900,
        80
      ]
    },
    {
      "parameters": {
        "fromEmail": "harchi.isaak@gmail.com",
        "toEmail": "={{$json.email}}",
        "subject": "Welcome! Your {{$json.guideType.charAt(0).toUpperCase() + $json.guideType.slice(1)}} Guide",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 0 auto; }\n    .header { background: linear-gradient(135deg, #1e3a5f 0%, #0d1f3c 100%); color: white; padding: 40px 20px; text-align: center; }\n    .content { background: #ffffff; padding: 40px 30px; }\n    .button { display: inline-block; padding: 15px 35px; background: #d4af37; color: white !important; text-decoration: none; border-radius: 5px; margin: 25px 0; font-weight: bold; }\n    .footer { background: #f8f9fa; padding: 30px 20px; text-align: center; font-size: 13px; color: #666; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\"><h1>Welcome, {{$json.firstName}}!</h1></div>\n    <div class=\"content\">\n      <p>Hi {{$json.firstName}},</p>\n      <p>Thank you for requesting the <strong>{{$json.guideType.charAt(0).toUpperCase() + $json.guideType.slice(1)}} Guide</strong>!</p>\n      <div style=\"text-align: center;\"><a href=\"https://iharchi.github.io/{{$json.guideType}}_guide.pdf\" class=\"button\">📥 Download Your Guide</a></div>\n      <p>📞 Call/Text: (612) 800-2025<br>📧 Email: harchi.isaak@gmail.com</p>\n      <p>Looking forward to helping you!</p>\n      <p>Warmly,<br><strong>Isaak Harchi</strong></p>\n    </div>\n    <div class=\"footer\"><p>© 2025 Isaak Harchi Real Estate</p></div>\n  </div>\n</body>\n</html>"
      },
      "id": "5",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$json.timestamp}}",
            "First Name": "={{$json.firstName}}",
            "Last Name": "={{$json.lastName}}",
            "Email": "={{$json.email}}",
            "Phone": "={{$json.phone}}",
            "Guide": "={{$json.guideType}}",
            "Status": "New"
          }
        }
      },
      "id": "6",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        900,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you!\", \"guideType\": $json.guideType } }}"
      },
      "id": "7",
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Invalid data\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "8",
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        420
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Mailchimp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "pinData": {}
}
